/* Reset default margins & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('images/landing-page-3.jpg');
  background-size: contain; /* or 100% 100% */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 20px; /* Add safe space */
}

/* Background Image Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }


/* Clickable Image Button */
.button {
    background-image: url('images/Buka undangan.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%; /* Relative width */
    max-width: 300px; /* Maximum size */
    position: absolute; /* Instead of absolute */
    margin: 20px auto; /* Center horizontally */
    display: block;
  }
  
  @media (min-width: 1000px) {
    .button {
      width: 8%;
    }
  }

  /*code baru di bwh 3 lines*/
  .hidden {
    visibility: hidden; /* Hide page initially */
  }

/* Fade-out effect */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
