/* Reset default margins & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background Image Container */
.container {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: url('images/landing-page.jpg') no-repeat center center/contain; /* Responsive background */
  background-color: #ffffff; /* Add a background color to fill any empty space */
      }


/* Background Image */
.image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Clickable Image Button */
.click-button {
  position: absolute;
  top: 75%;  /* Adjust for positioning */
  left: 52%; /* Adjust for positioning */
  width: 100px; /* Responsive button size */
  height: auto;
  cursor: pointer;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Adjust position for mobile screens */
@media (max-width: 375px) {
  .click-button {
     width: 50px;
      top: 60%;
      left: 49%;
  }
}

/* Fade-out effect */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
